<header class="header text-center">
    <h1 class="blog-name pt-lg-4 mb-0"><a href="{{ path('index') }}">Anthony's Blog</a></h1>

    <nav class="navbar navbar-expand-lg navbar-dark" >

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column" >
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="{{ asset('assets/images/profile.png') }}" alt="image" >
                <hr>
            </div><!--//profile-section-->

            <ul class="navbar-nav flex-column text-left">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('post-list') }}"><i class="fas fa-home fa-fw mr-2"></i>Posts <span class="sr-only">(current)</span></a>
                </li>
            </ul>

           
        </div>
    </nav>
</header>